version: "3.5"
networks:
  hocus_dev_net:
services:
  postgresql:
    container_name: temporal-postgresql
    command: postgres -c 'max_connections=10000' -c 'shared_buffers=2GB' -c 'effective_cache_size=6GB' -c 'maintenance_work_mem=512MB' -c 'random_page_cost=1.1' -c 'effective_io_concurrency=200' -c 'work_mem=4MB' -c 'min_wal_size=2GB' -c 'max_wal_size=8GB' -c 'max_worker_processes=8' -c 'max_parallel_workers_per_gather=4' -c 'max_parallel_workers=8' -c 'max_parallel_maintenance_workers=4' -c 'fsync=off' -c 'full_page_writes=off' -c 'synchronous_commit=off' -c 'wal_level=minimal' -c 'max_wal_senders=0' -c 'log_error_verbosity=terse'
    environment:
      POSTGRES_PASSWORD: temporal
      POSTGRES_USER: temporal
    image: postgres:13-alpine
    networks:
      - hocus_dev_net
    ports:
      - 6432:5432
  temporal:
    container_name: temporal
    depends_on:
      - postgresql
    environment:
      - DB=postgresql
      - DB_PORT=5432
      - POSTGRES_USER=temporal
      - POSTGRES_PWD=temporal
      - POSTGRES_SEEDS=postgresql
      #- DYNAMIC_CONFIG_FILE_PATH=config/dynamicconfig/development_es.yaml
    networks:
      - hocus_dev_net
    image: temporalio/auto-setup:1.20.0
    ports:
      - 7233:7233
  temporal-admin-tools:
    container_name: temporal-admin-tools
    depends_on:
      - temporal
    environment:
      - TEMPORAL_CLI_ADDRESS=temporal:7233
    networks:
      - hocus_dev_net
    image: temporalio/admin-tools:1.20.0
    stdin_open: true
    tty: true
  temporal-ui:
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_PERMIT_WRITE_API=true
      - TEMPORAL_UI_ENABLED=true
      - TEMPORAL_OPENAPI_ENABLED=true
      - TEMPORAL_CODEC_ENDPOINT=http://localhost:1337
    image: temporalio/ui:2.11.2
    networks:
      - hocus_dev_net
    ports:
      - 8080:8080
